.list-wrapper {
  position: relative;

  --dsp-padding: var(--padding-s, 0.25rem) var(--padding-m, 0.5rem);
}

ul {
  position: absolute;
  width: calc(100% - 1px);
  top: 100%;
  left: 0;
  border: 1px solid black;
  border-top: none;
  display: flex;
  flex-flow: column nowrap;

  padding: 0;
  margin: 0;

  list-style: none;
  transform-origin: top;

  transform: scaleY(0);
  transition: transform 0.3s ease-out;
}

ul.open {
  transform: scaleY(1);
}

.list-display {
  border: 1px solid black;
}

.list-display,
li {
  display: block;
  white-space: nowrap;
  padding: var(--dsp-padding);
}

li:hover {
  background: lightgray;
}
