.list-wrapper {
    position: relative;
    width: fit-content;

    --dsp-padding: var(--padding-s, 0.25rem) var(--padding-m, 0.5rem);
}

.list-wrapper:hover ul {
    transform: scaleY(1);
}

ul {
    position: absolute;

    top:100%;
    left:0;

    display: flex;
    flex-flow: column nowrap;

    padding: 0;
    margin: 0;

    list-style: none;
    transform-origin: top;

    transform: scaleY(0);
    transition: transform 0.3s ease-out;
}

.list-display,
li {
    display: block;
    white-space: nowrap;
    padding: var(--dsp-padding);
}