.list-wrapper {
    position: relative;
    width: fit-content;

    --dsp-padding: var(--padding-s, 0.25rem) var(--padding-m, 0.5rem);
}

ul {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;

    padding: 0;
    margin: 0;

    list-style: none;
    transform-origin: top;

    transform: scale(0);
}

.list-display,
li {
    white-space: nowrap;
    padding: var(--dsp-padding);
}